body{
	background-color:white;
}

h1.sta{
	color:Black;
	text-align:center;
	font-size:2vw;
	margin-top:0px;
	margin-bottom:00px;
}

h1.stb{
	color:Black;
	text-align:center;
	font-size:3vw;
	margin-top:0px;
	margin-bottom:10px;
}



img.cartoon{
	width:25vw;
	height:50vw;
	text-align:center;
        display: block;
        margin-left: auto;
        margin-right: auto;

}       
